@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="images/DinoDiner-24.png" width="300" height="300" />
<h1>Welcome to Dino Diner!</h1>
<a asp-page="/Menu">Menu Selection</a>

<a asp-page="/Privacy">Privacy</a>

<a asp-page="/About">About</a>

<div class="container">
    <div class="results">
        <h1>Menu</h1>

        @if (Model.Menu.Count() == 0)
        {
            <h2>No Results</h2>
        }

        @foreach (Menu menu in Model.Menu)
        {
            <div class="movie-category">
                <h2>
                    @menu.Title
                    @if (menu.Release_Year != null)
                    {<span> (@menu.Release_Year)</span>}
                </h2>
                @if (menu.Major_Genre != null)
                {
                    <div class="genre">@menu.Major_Genre</div>
                }
                @if (menu.MPAA_Rating != null)
                {
                    <div class="rating">Rated @menu.MPAA_Rating</div>
                }
                @if (menu.Director != null)
                {
                    <div class="director">Directed by @movie.Director</div>
                }
                <div class="ratings">
                    @if (movie.IMDB_Rating != null)
                    {
                        <div>
                            <span>IMDB</span>
                            <h3>@movie.IMDB_Rating</h3>
                        </div>
                    }
                    @if (movie.Rotten_Tomatoes_Rating != null)
                    {
                        <div>
                            <span>Rotten Tomatoes</span>
                            <h3>@movie.Rotten_Tomatoes_Rating</h3>
                        </div>
                    }
                </div>
            </div>
        }
    </div>






    <form method="post">

        <h4>Search</h4>
        <input type="submit" name="search" id="search" value="@Model.search" />


        <input type="submit" name="filter" id="filter" value="Apply Filter(s)" />

        <h4>Menu Category</h4>

    </form>
