@page
@using DinoDiner.Menu;
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}


<h1>Menu</h1>

<div class="content">
    <div id="results">
        @if (Model.AvailableCombos.Count() > 0)
        {
        <div id="combos" class="menu-class">
            <h2>Cretaceous Combos</h2>

            @foreach (var item in Model.AvailableCombos)
            {
                <div class="menu-item">
                    <div class="menu-description"><h3>@item.Description</h3></div>
                    <div class="menu-sizetable">
                        <table>
                            <thead>
                                <tr>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach  (var size in Model.Sizes)
                                {
                                    item.Size = size;
                                    <tr>
                                        <th>@item.Size</th>
                                        <td>$@item.Price.ToString()</td>
                                        <td>@item.Calories</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="menu-ingredients">
                        <p>Ingredients</p>
                        <ul>
                            @foreach (var ingredient in item.Ingredients)
                            {
                                <li>@ingredient</li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
        }

        @if (Model.AvailableEntrees.Count() > 0)
        {
            <div id="entrees" class="menu-class">
            <h2>Entrees</h2>
                @foreach (var item in Model.AvailableEntrees)
                {
                    <h3>@item.ToString()</h3>
                    <div class="menu-item">
                        <ul>
                            <li>Price: $@item.Price.ToString()</li>
                            <li>Calories: @item.Calories</li>
                        </ul>
                    </div>
                    <div class="menu-ingredients">
                    <p>Ingredients</p>
                    <ul>
                        @foreach (var ingredient in item.Ingredients)
                        {
                            <li>@ingredient</li>
                        }
                    </ul>
                </div>
                }
            </div>
        }

        @if (Model.AvailableSides.Count() > 0)
        {
            <div id="sides" class="menu-class">
                <h2>Sides</h2>
                @foreach (var item in Model.AvailableSides)
                {
                    <div class="menu-item">
                    <div class="menu-description"><h3>@item.Description.Replace("Small", "")</h3></div>
                    <div class="menu-sizetable">
                    <table>
                        <thead>
                            <tr>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Calories</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var size in Model.Sizes)
                            {
                                item.Size = size;
                                <tr>
                                    <th>@item.Size</th>
                                    <td>$@item.Price.ToString()</td>
                                    <td>@item.Calories</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="menu-ingredients">
                    <p>Ingredients</p>
                    <ul>
                        @foreach(var ingredient in item.Ingredients)
                        {
                            <li>@ingredient</li>
                        }
                    </ul>
                </div> 
            </div>
            }
            </div>
        }

        @if (Model.AvailableDrinks.Count() > 0)
        {
            <div id="drinks" class="menu-class">
                <h2>Drinks</h2>
                @foreach (var item in Model.AvailableDrinks)
                {
                    <div class="menu-item">
                    <div class="menu-description"><h3>@item.Description.Replace("Small", "")</h3></div>
                    <div class="menu-sizetable">
                    <table>
                        <thead>
                            <tr>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Calories</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var size in Model.Sizes)
                            {
                                item.Size = size;
                                <tr>
                                    <th>@item.Size</th>
                                    <td>$@item.Price.ToString()</td>
                                    <td>@item.Calories</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="menu-ingredients">
                    <p>Ingredients</p>
                    <ul>
                        @foreach (var ingredient in item.Ingredients)
                        {
                            <li>@ingredient</li>
                        }
                    </ul>
                </div>
            </div>
        }
     </div>
  }

    </div>

   


    <form method="post">
        <h4>Search</h4>
        <input type="text" id="search" name="search" value="@Model.search" />
        <input type="submit" value="Apply Filter(s)" />

        <h4>Search & Filter Menu Category</h4>
        <div class="menu-category-list">
            <label>
                <input type="checkbox" class="menu-category" value="Combo" name="menuCategory"
                       checked="@Model.menuCategory.Contains("Combo")" />
                Combo
            </label>
            <label>
                <input type="checkbox" class="menu-category" value="Entree" name="menuCategory"
                       checked="@Model.menuCategory.Contains("Entree")" />
                Entree
            </label>
            <label>
                <input type="checkbox" class="menu-category" value="Side" name="menuCategory"
                       checked="@Model.menuCategory.Contains("Side")" />
                Side
            </label>
            <label>
                <input type="checkbox" class="menu-category" value="Drink" name="menuCategory"
                       checked="@Model.menuCategory.Contains("Drink")" />
                Drink
            </label>
        </div>

        <h4>Filter by Price</h4>
        <div>
            
            Min <input type="number" name="minPrice" class="price" id="minimum-price" value="@Model.minPrice" /><br />
            Max <input type="number" name="maxPrice" class="price" id="maximum-price" value="@Model.maxPrice" /><br />
        </div>

        <h4>Exclude Ingredients</h4>
        <div class="ingredient-list">
            @foreach (string ingredient in Model.Menu.PossibleIngredients)
            {
                <label>
                    <input type="checkbox" class="exclude-ingredients" value="@ingredient" name="ingredient"
                           checked="@Model.ingredient.Contains(ingredient)" />
                    @ingredient
                </label>
            }
        </div>
    </form>
</div>


