@page
@using DinoDiner.Menu;
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}


<h1>Menu</h1>




<h2>Combos</h2>
@foreach (IMenuItem item in Model.menu.AvailableCombos)
{
    <div class="menu-item">
        @item.ToString();
        <div>Price: @item.Price Calories: @item.Calories</div>
        @foreach (string ingredients in item.Ingredients)
        {
            <div>@ingredients</div>
        }
    </div>
}


<h2>Entrees</h2>
@foreach (IMenuItem item in Model.menu.AvailableEntrees)
{
    <div class="menu-item">
        @item.ToString();
        <div>Price: @item.Price Calories: @item.Calories</div>
        @foreach (string ingredients in item.Ingredients)
        {
            <div>@ingredients</div>
        }
    </div>
}

<h2>Sides</h2>
@foreach (IMenuItem item in Model.menu.AvailableSides)
{
<div class="menu-item">
    @item.ToString();

    <div>Price: @item.Price Calories: @item.Calories</div>

    @foreach (string ingredients in item.Ingredients)
    {
        <div>@ingredients</div>
    }
</div>
}

<h2>Drinks</h2>
@foreach (IMenuItem item in Model.menu.AvailableDrinks)
{
    <div class="menu-item">
        @item.ToString();
        <div> Price: @item.Price Calories: @item.Calories </div>
        @foreach (string ingredients in item.Ingredients)
        {
            <div>@ingredients</div>
        }
    </div>
}


<form method="post">
    <h2>Search</h2>
    <input type="text" id="search" name="search" value="@Model.search"/>





</form>



